body {
    background: #394881;
    padding: 0px;
    margin: 0px;
}
h1 {
    padding: 6rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 7rem;
    color: #F6E8A9;
    margin: 0;
}
#landing-title {
    height: 65vh;
}
#container {
    height: 100vh;
    text-align: center;
    position: relative;
}
#test{
    position: relative;
}
#bus {
    margin: auto;
    background: #F6E8A9;
    width: 45%;
    height: 15vh;
    text-align: center;
}
#landing-spacer {
    height: 10vh;
}
h2 {
    padding: 0;
    margin: 2rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    color: #394881;
}
.dot {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: inline-block;
    background: #26325B;
}
#dot1{
position: absolute;
left: 65%;
top: 82vh;
}
#dot2{
position: absolute;
left: 30%;
top: 82vh;
}
a {
    text-emphasis: none;
    text-decoration: none;
}
#map {
    background-color: #bbb;
    height: 100vh;
    width: 100%;
    z-index: 0;
}
#nav-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 6vh;
    grid-gap: 1rem;
    height:6vh;
    padding:2vh;
    position: fixed;
    top: -10vh;
    z-index: 2;
    width: calc(100% - 4vh);
    /* display: none; */
    transition: all 300ms ease-in-out;
    background: #FF706B;
}
input[type="text"], textarea {
    border: none;
    border-color: transparent;
    padding: 0px 10px;
  }
h3 {
    padding: 0;
    margin: 2rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #394881;
}
#info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 95%;
    grid-gap: 1rem;
    padding: 2.5%;
}
.card {
    background: #FF706B;
    border-radius: 10px;
    width: calc(100% - 6rem);
    height: 65vh;
    padding: 3rem;
}
#about-spacer {
    height: 3vh;
}
#about-title {
    height: 40vh;
}
#menu-toggle {
    display: none;
  }
button {
    background: #394881;
    border: none;
    font-size: 1.25rem;
    color:  #FF706B;
}
button:hover {
    background: #4c557a;
    color:  #fc8f8c;
}
.menu-icon {
position: absolute;
top: 2vh;
right: 30px;
font-size: 24px;
transition: all 300ms ease-in-out;
z-index: 2;
}
.menu-icon img {
    width: 50px;
    height: 50px;
    z-index: 2;
}
#menu-toggle:checked ~ #nav-bar {
top: 0;
}

#menu-toggle:checked + .menu-icon {
top: 12vh;
}