body {
    background: #394881;
    padding: 0px;
    margin: 0px;
}
h1 {
    padding: 6rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 7rem;
    color: #ffd800;
    margin: 0;
}
#landing-title {
    height: 65vh;
}
#container {
    height: 100vh;
    text-align: center;
}
#bus {
    margin: auto;
    background: #ffd800;
    width: 45%;
    height: 15vh;
    text-align: center;
}
#landing-spacer {
    height: 10vh;
}
h2 {
    padding: 0;
    margin: 2rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    color: #394881;
}
.dot {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: inline-block;
    background: #26325B;
  }
  #dot1{
    position: absolute;
    left: 65%;
    top: 82vh;
  }
  #dot2{
    position: absolute;
    left: 30%;
    top: 82vh;
  }
  a {
      text-emphasis: none;
      text-decoration: none;
  }
  #map {
      background-color: #bbb;
      height: 100vh;
      width: 100%;
  }