body {
    background: #394881;
    padding: 0px;
    margin: 0px;
}
h1 {
    padding: 6rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 7rem;
    color: #F6E8A9;
    margin: 0;
}
#landing-title {
    height: 65vh;
}
#container {
    height: 100vh;
    text-align: center;
}
#bus {
    margin: auto;
    background: #F6E8A9;
    width: 45%;
    height: 15vh;
    text-align: center;
}
#landing-spacer {
    height: 10vh;
}
h2 {
    padding: 0;
    margin: 2rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    color: #394881;
}
.dot {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: inline-block;
    background: #26325B;
}
#dot1{
position: absolute;
left: 65%;
top: 82vh;
}
#dot2{
position: absolute;
left: 30%;
top: 82vh;
}
a {
    text-emphasis: none;
    text-decoration: none;
}
#map {
    background-color: #bbb;
    height: 90vh;
    width: 100%;
}
#nav-bar {
    height:6vh;
    display: flex;
    justify-content: space-around;
    padding:2vh;
}
input[type="text"], textarea {
    border: none;
    border-color: transparent;
    padding: 0px 10px;
  }
h3 {
    padding: 0;
    margin: 2rem;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #394881;
}
#info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 95%;
    grid-gap: 1rem;
    padding: 2.5%;
}
.card {
    background: #FF706B;
    border-radius: 10px;
    width: calc(100% - 6rem);
    height: 65vh;
    padding: 3rem;
}
#about-spacer {
    height: 3vh;
}
#about-title {
    height: 40vh;
}